:root{
    --red: red;
    --blue: blue;
    --white: rgb(190, 190, 190);
    --black: rgb(37, 37, 37);
    --board: 75vh;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto var(--board) auto;
    grid-template-rows: auto auto var(--board) auto auto;
}
.board {
    grid-row: 3/4;
    grid-column: 2/3;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, calc(var(--board)/8));
    grid-template-rows: repeat(8, calc(var(--board)/8));
    background-color: var(--white);
}
.square {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: var(--black);
}

.white{
    background-color: var(--white);
}

.player1-info {
    grid-row: 2/3;
    grid-column: 2/3;
}
.player2-info {
    grid-row: 4/5;
    grid-column: 2/3;
}
.player1-info, .player2-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10%
}
.active{
    height: calc(var(--board)/8*0.85);
    width: calc(var(--board)/8*0.85);
    border-radius: 100px;
}

.one{
    background-color: var(--red) !important;
    border: 3px solid black;

}

.two{
    background-color: var(--blue);
    border: 3px solid black;
} 

#p1Checker, #p2Checker {
    position: absolute;
    height: calc(var(--board)/8*0.85);
    width: calc(var(--board)/8*0.85);
    border-radius: 100px;
    background-color: white;
    border: 3px solid black;
}

#p1Checker{
    background-color: var(--red);
}

#p2Checker{
    background-color: var(--blue);
}


.rotate{
    transform: rotate(180deg);
}

.queen{
    filter: brightness(50%) !important;
}