<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="player1-info">
            <p class="player1">Player1</p>
            <p class="timer1">00:00</p>
        </div>
        <div class="board">
            <div class="square sqaure1 black"></div>
            <div class="square sqaure2"></div>
            <div class="square sqaure3 black"></div>
            <div class="square sqaure4"></div>
            <div class="square sqaure5 black"></div>
            <div class="square sqaure6"></div>
            <div class="square sqaure7 black"></div>
            <div class="square sqaure8"></div>
            <div class="square sqaure9"></div>
            <div class="square sqaure10 black"></div>
            <div class="square sqaure11"></div>
            <div class="square sqaure12 black"></div>
            <div class="square sqaure13"></div>
            <div class="square sqaure14 black"></div>
            <div class="square sqaure15"></div>
            <div class="square sqaure16 black"></div>
            <div class="square sqaure17 black"></div>
            <div class="square sqaure18"></div>
            <div class="square sqaure19 black"></div>
            <div class="square sqaure20"></div>
            <div class="square sqaure21 black"></div>
            <div class="square sqaure22"></div>
            <div class="square sqaure23 black"></div>
            <div class="square sqaure24"></div>
            <div class="square sqaure25"></div>
            <div class="square sqaure26 black"></div>
            <div class="square sqaure27"></div>
            <div class="square sqaure28 black"></div>
            <div class="square sqaure29"></div>
            <div class="square sqaure30 black"></div>
            <div class="square sqaure31"></div>
            <div class="square sqaure32 black"></div>
            <div class="square sqaure33 black"></div>
            <div class="square sqaure34"></div>
            <div class="square sqaure35 black"></div>
            <div class="square sqaure36"></div>
            <div class="square sqaure37 black"></div>
            <div class="square sqaure38"></div>
            <div class="square sqaure39 black"></div>
            <div class="square sqaure40"></div>
            <div class="square sqaure41 "></div>
            <div class="square sqaure42 black"></div>
            <div class="square sqaure43"></div>
            <div class="square sqaure44 black"></div>
            <div class="square sqaure45"></div>
            <div class="square sqaure46 black"></div>
            <div class="square sqaure47"></div>
            <div class="square sqaure48 black"></div>
            <div class="square sqaure49 black"></div>
            <div class="square sqaure50"></div>
            <div class="square sqaure51 black"></div>
            <div class="square sqaure52"></div>
            <div class="square sqaure53 black"></div>
            <div class="square sqaure54"></div>
            <div class="square sqaure55 black"></div>
            <div class="square sqaure56"></div>
            <div class="square sqaure57"></div>
            <div class="square sqaure58 black"></div>
            <div class="square sqaure59"></div>
            <div class="square sqaure60 black"></div>
            <div class="square sqaure61"></div>
            <div class="square sqaure62 black"></div>
            <div class="square sqaure63"></div>
            <div class="square sqaure64 black"></div>
        </div>
        <div class="player2-info">
            <p class="player2">Player2</p>
            <p class="timer2">00:00</p>
        </div>
        
    </div>

    <title></title>
</head>
<body>

</body>
</html>