<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        const gameId = "{{ board.id }}";
        const localPlayer = {{ local_player }}; // Can be 1 or 2

        let player1 = "{{ board.player1 }}";
        let player2 = "{{ board.player2 }}";

        let turn = {{ board.turn }};
        let board = {{ board.board }};
    </script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
            integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
            crossorigin="anonymous"></script>
    <script src="/static/communication.js"></script>
    <script src="/static/main.js" defer></script>
</head>
<body>
<div class="container">
    <div class="player1-info">
        <p class="player1">{{ board.player1 }}</p>
        <p class="timer1">00:00</p></div>
    <div class="board">
        <div class="square square1 black">
            <div class="checker checker1 active one" data-row="1" data-column= "1" data-checker="1"></div>
        </div>
        <div class="square square2 white"><div class="checker"></div></div>
        <div class="square square3 black">
            <div class="checker checker3 active one" data-row="1" data-column= "3" data-checker="3"></div>
        </div>
        <div class="square square4 white"><div class="checker"></div></div>
        <div class="square square5 black">
            <div class="checker checker5  active one" data-row="1" data-column= "5" data-checker="5"></div>
        </div>
        <div class="square square6 white"><div class="checker"></div></div>
        <div class="square square7 black">
            <div class="checker checker7  active one" data-row="1" data-column= "7" data-checker="7"></div>
        </div>
        <div class="square square8 white"><div class="checker"></div></div>
        <div class="square square9 white"><div class="checker"></div></div>
        <div class="square square10 black">
            <div class="checker checker10  active one" data-row="2" data-column= "2" data-checker="10"></div>
        </div>
        <div class="square square11 white"><div class="checker"></div></div>
        <div class="square square12 black">
            <div class="checker checker12  active one" data-row="2" data-column= "4" data-checker="12"></div>
        </div>
        <div class="square square13 white"><div class="checker"></div></div>
        <div class="square square14 black">
            <div class="checker checker14  active one" data-row="2" data-column= "6" data-checker="14"></div>
        </div>
        <div class="square square15 white"><div class="checker"></div></div>
        <div class="square square16 black">
            <div class="checker checker16  active one" data-row="2" data-column= "8" data-checker="16"></div>
        </div>
        <div class="square square17 black">
            <div class="checker checker17  active one" data-row="2" data-column= "1" data-checker="17"></div>
        </div>
        <div class="square square18 white"><div class="checker"></div></div>
        <div class="square square19 black">
            <div class="checker checker19  active one" data-row="3" data-column= "3" data-checker="19"></div>
        </div>
        <div class="square square20 white"><div class="checker"></div></div>
        <div class="square square21 black">
            <div class="checker checker21  active one" data-row="3" data-column= "5" data-checker="21"></div>
        </div>
        <div class="square square22 white"><div class="checker"></div></div>
        <div class="square square23 black">
            <div class="checker checker23  active one" data-row="3" data-column= "7" data-checker="23"></div>
        </div>
        <div class="square square24 white"><div class="checker"></div></div>
        <div class="square square25 white"><div class="checker"></div></div>
        <div class="square square26 black">
            <div class="checker checker26" data-row="4" data-column= "2" data-checker="26"></div>
        </div>
        <div class="square square27 white"><div class="checker"></div></div>
        <div class="square square28 black">
            <div class="checker checker28" data-row="4" data-column= "4" data-checker="28"></div>
        </div>
        <div class="square square29 white"><div class="checker"></div></div>
        <div class="square square30 black">
            <div class="checker checker30" data-row="4" data-column= "6" data-checker="30"></div>
        </div>
        <div class="square square31 white"><div class="checker"></div></div>
        <div class="square square32 black">
            <div class="checker checker32" data-row="4" data-column= "8" data-checker="32"></div>
        </div>
        <div class="square square33 black">
            <div class="checker checker33" data-row="5" data-column= "1" data-checker="33"></div>
        </div>
        <div class="square square34 white"><div class="checker"></div></div>
        <div class="square square35 black">
            <div class="checker checker35" data-row="5" data-column= "3" data-checker="35"></div>
        </div>
        <div class="square square36 white"><div class="checker"></div></div>
        <div class="square square37 black">
            <div class="checker checker37" data-row="5" data-column= "5" data-checker="37"></div>
        </div>
        <div class="square square38 white"><div class="checker"></div></div>
        <div class="square square39 black">
            <div class="checker checker39" data-row="5" data-column= "7" data-checker="39"></div>
        </div>
        <div class="square square40 white"><div class="checker"></div></div>
        <div class="square square41 white"><div class="checker"></div></div>
        <div class="square square42 black">
            <div class="checker checker42  active two" data-row="6" data-column= "2" data-checker="42"></div>
        </div>
        <div class="square square43 white"><div class="checker"></div></div>
        <div class="square square44 black">
            <div class="checker checker44  active two" data-row="6" data-column= "4" data-checker="44"></div>
        </div>
        <div class="square square45 white"><div class="checker"></div></div>
        <div class="square square46 black">
            <div class="checker checker46  active two" data-row="6" data-column= "6" data-checker="46"></div>
        </div>
        <div class="square square47 white"><div class="checker"></div></div>
        <div class="square square48 black">
            <div class="checker checker48  active two" data-row="6" data-column= "8" data-checker="48"></div>
        </div>
        <div class="square square49 black">
            <div class="checker checker49  active two" data-row="7" data-column= "1" data-checker="49"></div>
        </div>
        <div class="square square50 white"><div class="checker"></div></div>
        <div class="square square51 black">
            <div class="checker checker51  active two" data-row="7" data-column= "3" data-checker="51"></div>
        </div>
        <div class="square square52 white"><div class="checker"></div></div>
        <div class="square square53 black">
            <div class="checker checker53  active two" data-row="7" data-column= "5" data-checker="53"></div>
        </div>
        <div class="square square54 white"><div class="checker"></div></div>
        <div class="square square55 black">
            <div class="checker checker55  active two" data-row="7" data-column= "7" data-checker="55"></div>
        </div>
        <div class="square square56 white"><div class="checker"></div></div>
        <div class="square square57 white"><div class="checker"></div></div>
        <div class="square square58 black">
            <div class="checker checker58  active two" data-row="8" data-column= "2" data-checker="58"></div>
        </div>
        <div class="square square59 white"><div class="checker"></div></div>
        <div class="square square60 black">
            <div class="checker checker60  active two" data-row="8" data-column= "4" data-checker="60"></div>
        </div>
        <div class="square square61 white"><div class="checker"></div></div>
        <div class="square square62 black">
            <div class="checker checker62  active two" data-row="8" data-column= "6" data-checker="62"></div>
        </div>
        <div class="square square63 white"><div class="checker"></div></div>
        <div class="square square64 black">
            <div class="checker checker64  active two" data-row="8" data-column= "8" data-checker="64"></div>
        </div>
    </div>
    <div class="player2-info"><p class="player2">{{ board.player2 }}</p>
        <p class="timer2">00:00</p></div>
</div>
</body>
</html>